# תלותים
node_modules/

# קבצי לוג
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# סביבות עבודה
.env
.env.* 

# תיקיות בנייה
dist/
build/
tmp/
temp/

# קבצי מערכת של IDE
.vscode/
.idea/

# קבצי מערכת של מערכת הפעלה
.DS_Store
Thumbs.db

# קבצים של תהליך ההעלאה
*.tgz

# כיסוי בדיקות
coverage/

# קבצי pid
*.pid
*.seed
*.pid.lock

# קבצים של כלי ניטור
.pnpm-debug.log
